registry=https://pkgs.dev.azure.com/botas/_packaging/botas-nightly/npm/registry/ 
always-auth=true
@rido-min:registry=https://pkgs.dev.azure.com/botas/_packaging/rido-min/npm/registry/
always-auth=true